---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostCard from "../components/PostCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("post")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout title="Ethics & AI" description="Ethics & AI blog.">
	<section>
		<h2 class="text-3xl font-bold mb-8 text-center">Latest Musings</h2>
		<div class="grid gap-6">
			{posts.map((post) => <PostCard post={post} />)}
		</div>
	</section>
</BaseLayout>
